body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

h3 {
  margin: 0.5em 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  border: none;
}

a {
  color: #008b71;
}

.tc {
  text-align: center;
}

.app-demo {
  padding-left: 10em;
}

.main {
  padding: 10px;
}

.nav {
  width: 10em;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #ccc;
}

.nav li {
  padding: 0px;
  margin: 10px 20px;
  list-style: disc;
}

.pd10 {
  padding: 10px;
}

fieldset:not(:last-child) {
  margin-bottom: 20px;
}

legend {
  color: #646cff;
}

.basic-nav {
  list-style: none;
  color: #1458e1;
  display: flex;
  flex-flow: wrap;
}
.basic-nav li {
  background-color: rgba(0, 10, 32, 0.05);
  border-radius: 10px;
  margin: 0 0.375rem 0.375rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex: 0 0 100px; */
  padding: 5px;
}

.basic-nav a {
  color: rgb(255, 45, 85);
  text-decoration: none;
  padding: 0 0.375rem;
}
.basic-nav a:hover {
  color: #1458e1;
  background-color: rgba(0, 122, 255, 0.09);
}

.code-wrap pre {
  line-height: 1.625;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1.5rem 0;
  border-radius: 0.5rem;
  color: #dfe2e7;
  outline: none;
}

code {
  font-size: 90%;
}

code i {
  font-style: normal;
}

.code-wrap {
  background-color: rgb(28, 32, 34);
}

.code-wrap span {
  display: block;
  padding: 0 1rem;
  position: relative;
  line-height: 2;
}

.code-wrap .output {
  margin-left: 1rem;
  color: #757575;
}

.q:after {
  content: '';
  background-color: rgb(48 186 45);
  content: ' ';
  left: 0;
  opacity: 0.1;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.code-wrap {
  border-radius: 5px;
  position: relative;
}

.code-wrap .opetator-area {
  position: absolute;
  right: 0.5rem;
  top: 0.4rem;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}
.code-wrap .exec-code {
  color: #86d9ca;
  cursor: pointer;
  padding-left: 20px;
  margin-right: 10px;
  height: 100%;
  background-size: 16px;
  background: url('https://codesandbox.io/public/vscode33/vs/codesandbox/services/codesandbox/assets/preview.svg')
    left center no-repeat;
}
.code-wrap .exec-code:hover {
  color: #dfab5c;
}

.code {
  border-radius: 5px;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}
